<!DOCTYPE html>
<html>
<head>
	<title>Visualytics AI</title>
	<link rel="shortcut icon" type="image/png" href="static/images/favicon.ico"/>
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Unlock" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css/usa_data.css">
</head>
<body>
	
	<div>
		<div id="title">Visualytics AI - Customer ROI Cross Over</div>
		<div id="left-panel">
			<div id="time">Time:</div>
			
		</div>
		<div id="Visualization"></div>


	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script type="text/javascript" src="http://localhost:5000/bubblejs"></script>
</body>
</html>